$headerSmartPhoneHeight: 70px;
$headerTabletHeight: 78px;
$headerImageWidth: 40px;
$headerImageHeight: 40px;
$mobileButtonWidth: 20px;
$mobileButtonHeight: 20px;
$cMobileBorder: #00b595;
$cLinkText: #00b595;
$cHoverLinkText: #00715d;

.header {
  background-color: white;
  height: $headerSmartPhoneHeight;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  height: 100%;
  margin: 0 auto;
}

.header__image {
  width: $headerImageWidth;
  height: $headerImageHeight;
  border-radius: calc(#{$headerImageWidth} / 2);
}

.header__nav {
  display: none;
}

.header__list {
  list-style: none;
}

.header__item {
  display: inline-block;
  padding: 8px;

  & > a {
    color: $cLinkText;
    text-decoration: none;

    &:hover {
      color: $cHoverLinkText;
    }
  }
}

.header__item-is-active {
  & > a {
    color: gray;
  }
}

.mobile__button {
  position: relative;
  display: block;
  width: $mobileButtonWidth;
  height: $mobileButtonHeight;
  padding: 12px;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40%;
    height: 2px;
    background-color: $cMobileBorder;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      top: 37%;
    }
    &:nth-child(3) {
      top: 63%;
    }
  }
  &:hover {
    & > span {
      background-color: $cHoverLinkText;
    }
  }
  &:active,
  &:focus,
  &:focus-within {
    border: 1px solid red;
  }
}

.mobile__nav {
  position: absolute;
  top: $headerSmartPhoneHeight;
  left: 0;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.1s;

  &.show {
    max-height: 160px;
  }
}

.mobile__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.mobile__item {
  background-color: white;
  & > a {
    display: block;
    color: $cLinkText;
    text-decoration: none;
    padding: 4px 30px 4px 0px;
  }

  &:nth-child(6) {
    padding-bottom: 4px;
  }
}

.main {
  background-color: gray;
  height: 100vh;
}

@media (min-width: 640px) {
  .header {
    height: $headerTabletHeight;
  }

  .header__nav {
    display: block;
  }

  .mobile__button,
  .mobile__nav.show {
    display: none;
  }
}
